/* CSS CLASSIC */

body {
  width: 100%;
}

/*-------buttons------*/
.alojapro-widget-plugin .btn-widget-primary {
  background-color: var(--custom-primary-color) !important;
  border-color: var(--custom-primary-color) !important;
}
.alojapro-widget-plugin .btn-widget-secondary {
  background-color: var(--custom-secondary-color) !important;
  border-color: var(--custom-secondary-color) !important;
}
.alojapro-widget-plugin .btn-widget {
  width: 100% !important;
  text-transform: uppercase;
  color: #FFF !important;
  border: 1px !important;
  border-radius: var(--custom-style);
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
}
.alojapro-widget-plugin .back-white {
  background-color: #FFFFFF !important;
}
/*------end buttons-------*/

/*---------modal----------*/
.alojapro-widget-plugin .modal-title {
  margin-left: 0.7rem;
}
.alojapro-widget-plugin .close, 
.alojapro-widget-plugin .close:hover, 
.alojapro-widget-plugin .close:active {/* close X from modal */
  font-size: 1.5rem !important;
  border: 0px !important;
  background: unset !important;
  color: #333333 !important;
}
.tooltip {
  z-index: 9999 !important;
}
.tooltip >.tooltip-inner {
  background-color: #FFFFFF !important;
  color: #000000;
  border: 2px solid #dddddd;
  text-align: justify;
  font-size: 14px;
  border-radius: var(--custom-style) !important;
  padding: 1rem 1.2rem;
  max-width: 360px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}
.tooltip .arrow:before {
  border-bottom-color: #ffffff !important;
  border-width: 0 12px 12px !important;
  z-index: -1 !important;
}
.tooltip .arrow {
  left: 50%;
  border-style: solid;
  background-color: #FFFFFF !important;
}
.alojapro-widget-plugin .fa-info-circle{
  cursor: pointer;
}
.alojapro-widget-plugin .room-options {
  font-size: 1rem;
  border: 1px solid #dddddd;
  border-radius: var(--custom-style);
  padding: 15px;
  margin-top: 15px;
}
.alojapro-widget-plugin .custom-input {
  border: 1px solid #dddddd !important;
  width: 100%;
  padding-left: 1rem;
  color: #555555 !important;
  height: 2.6rem !important;
  background-color: #FFFFFF !important;
}
/*----------end modal---------*/

/*--------datepicker----------*/
.alojapro-widget-plugin .datepicker {
  cursor: pointer;
}
.alojapro-widget-plugin .widget_calendar {
  border-top-right-radius: unset !important;
  border-bottom-right-radius: unset !important;
}
.alojapro-widget-plugin .input-group-text { 
  border-radius: 0px var(--custom-style) var(--custom-style) 0px  !important;
}
.alojapro-widget-plugin .input-group {
  flex-wrap: unset;
}
/*---------end datepicker--------*/

/*------- inside calendar--------*/
.ui-datepicker {
  z-index: 9999 !important;
  position: absolute !important;
}
.ui-datepicker th {
  padding: 0.3em 0em;
  border-block-start: 0px !important;
  background-color: unset;
}
.ui-widget.ui-widget-content {
  border-radius: var(--custom-style);
}
.ui-widget-header {
  border: 0px;
  background: unset;
  margin-bottom: 10px;
}
.ui-datepicker-month {
  text-transform: capitalize !important;
}
.ui-state-hover {
  border: 0px !important;
  background-color: #FFFFFF00 !important;
  cursor: pointer;
}
.ui-datepicker table{
  border: none !important;
}
.ui-datepicker td span, 
.ui-datepicker td a {
  text-align: center;
}
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover {
  border: 0px;
  color: #FFFFFF !important;
  background: var(--custom-primary-color) !important;
}
.ui-datepicker-current-day a:hover {
  color: #FFFFFF !important;
}
.ui-state-default:hover{
  color: var(--custom-primary-color) !important;
  border-radius: var(--custom-style);
} 
.ui-state-default {
  border: 0px !important;
  background: none !important;
  border-radius: var(--custom-style);
}
.ui-datepicker-today a {
  color: #333333 !important;
  background-color: #dddddd !important;
  border-radius: var(--custom-style) !important;
}
.ui-datepicker td a {
  padding: 0.4em;
}
.ui-datepicker-calendar tr:nth-child(even) td,
.ui-datepicker-calendar tr:nth-child(odd) td {
  background-color: inherit !important;
}
/*-------end inside calendar--------*/

/*-------verificar dispo-------*/
.alojapro-widget-plugin #check-icon{ /* check icon */
  font-size: 2rem;
  color: var(--custom-primary-color);
}
.alojapro-widget-plugin .check_dispo{ /* text */
  text-transform: uppercase;
  font-size: 1rem;
  line-height: normal;
}
/*-------end verificar dispo-------*/

/*MODALS visibility*/
.alojapro-widget-plugin .modal-fade .modal-dialog {
  transform: unset !important;
}
.alojapro-widget-plugin .modal.fade.show{
  opacity: 1 !important;
}
.alojapro-widget-plugin .modal{
  height: 2260px !important;
  background: rgba(0,0,0,.5);
  width: -webkit-fill-available !important;
}
.alojapro-widget-plugin .modal-dialog {
  z-index: 1000;
  overflow: auto;
  overflow-y: auto;
  min-height: 0;
  border-radius: var(--custom-style) !important;
  background: transparent;
  margin: auto;
  top: 10% !important;
}
.alojapro-widget-plugin .modal-content {
  border-radius: var(--custom-style) !important;
  border: 0;
  background-color: #FFFFFF;
  width: 100%;
}
#alojaproDiscounts_modal [type=submit]{
  border: none !important;
}
.modal-backdrop{
  display: none !important;
}
#alojaproDiscounts_modal .btn-close, 
#alojaproDiscounts_modal .btn-close:hover,
#alojaproAdvancedFilters_modal .btn-close, 
#alojaproAdvancedFilters_modal .btn-close:hover {
    border: none !important;
    background-color: unset !important;
    padding: 1rem !important;
} 

.alojapro-widget-plugin .text-primary {
  color: var(--custom-primary-color) !important;
}
.alojapro-widget-plugin .text-secondary {
  color: var(--custom-secondary-color) !important;
}
.alojapro-widget-plugin input, 
.alojapro-widget-plugin button, 
.alojapro-widget-plugin .form-select {
  border-radius: var(--custom-style) !important;
}
.alojapro-widget-plugin .form-select {
  height: 2.8rem !important;
}
.alojapro-widget-plugin .form-control {
  line-height: 1.75 !important;
}
.alojapro-widget-plugin #advanced-filters {
  height: 42px;
  border-top-right-radius: unset !important;
  border-bottom-right-radius: unset !important;
}
.alojapro-widget-plugin .fa {
  color: #555555;
}
.alojapro-widget-plugin .btn-discounts {
  text-transform: uppercase !important;
  color: #FFFFFF !important;
  background-color: var(--custom-secondary-color) !important;
  padding: 0.5rem;
}
.alojapro-widget-plugin .btn-search {
  padding: 0.5rem;
}

.fa-calendar,
.fa-user,
.fa-percent {
  cursor: pointer;
}

.alojapro-widget-plugin .dnone {
  display: none !important;
}
/*end*/