/* CSS MODERN */

body {
  width: 100%;
}

/*-------buttons------*/
.alojapro-widget-plugin .btn-widget-primary {
  background-color: var(--custom-primary-color) !important;
  border-color: var(--custom-primary-color) !important;
}
.alojapro-widget-plugin .btn-widget-secondary {
  background-color: var(--custom-secondary-color) !important;
  border-color: var(--custom-secondary-color) !important;
}
.alojapro-widget-plugin .btn-widget {
  width: 100% !important;
  text-transform: uppercase;
  color: #FFF !important;
  padding: 0.7rem !important;
  border-radius: var(--custom-style);
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
}
.alojapro-widget-plugin .back-white {		
	background-color: #FFFFFF !important;		
}
/*------end buttons-------*/

/*--------- form ---------*/
.alojapro-widget-inner-banner [class^="col-"] {
  padding: 1px;
}

/*---------modal----------*/
.alojapro-widget-plugin .modal-title {
  margin-left: 0.7rem;
}
.alojapro-widget-plugin .close, 
.alojapro-widget-plugin .close:hover, 
.alojapro-widget-plugin .close:active {/* close X from modal */
  font-size: 1.5rem !important;
  border: 0px !important;
  background: unset !important;
  color: #333333 !important;
}
.tooltip {
  z-index: 9999 !important;
}
.tooltip > .tooltip-inner {
  background-color: #FFFFFF !important;
  color: #000000;
  border: 2px solid #dddddd;
  text-align: justify;
  font-size: 14px;
  border-radius: var(--custom-style) !important;
  padding: 1rem 1.2rem;
  max-width: 360px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}
.tooltip .arrow:before {
  border-bottom-color: #ffffff !important;
  border-width: 0 12px 12px !important;
  z-index: -1 !important;
}
.tooltip .arrow {
  left: 50%;
  border-style: solid;
  background-color: #FFFFFF !important;
}
.alojapro-widget-plugin .fa-info-circle {
  cursor: pointer;
}
.alojapro-widget-plugin .room-options {
  border: 1px solid #dddddd;
  border-radius: var(--custom-style);
  padding: 15px;
  margin-top: 15px;
}
.alojapro-widget-plugin .custom-input {
  border: 1px solid #dddddd !important;
  /* width: 100%; */
  padding-left: 1rem;
  color: #555555 !important;
  height: 2.6rem !important;
  background-color: #FFFFFF !important;
}
.alojapro-widget-plugin .input-group {
	flex-wrap: unset;
}

/*----------end modal---------*/

/*--------datepicker----------*/
.alojapro-widget-plugin .datepicker {
  cursor: pointer;
  height: 2.7rem;
  background-color: #FFFFFF;
  padding-right: 0px;
}
.alojapro-widget-plugin .inputs .fa-arrow-right {
  margin-left: 0rem;
  margin-right: 0rem;
}
.alojapro-widget-plugin .inputs span {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
/*---------end datepicker--------*/

/*------- inside calendar--------*/
.ui-datepicker {
  z-index: 9999 !important;
}
.ui-datepicker th {
  padding: 0.3em 0em;
  border-block-start: 0px !important;
  background-color: unset;
}
.ui-widget.ui-widget-content {
  border-radius: var(--custom-style);
}
.ui-widget-header {
  border: 0px;
  background: unset;
  margin-bottom: 10px;
}
.ui-datepicker-month {
  text-transform: capitalize !important;
}
.ui-state-hover {
  border: 0px !important;
  background-color: #FFFFFF00 !important;
  cursor: pointer;
}
.ui-datepicker table {
  border: none !important;
}
.ui-datepicker td span, 
.ui-datepicker td a {
  text-align: center;
}
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover {
  border: 0px;
  color: #FFFFFF !important;
  background: var(--custom-primary-color) !important;
}
.ui-datepicker-current-day a:hover {
  color: #FFFFFF !important;
}
.ui-state-default:hover {
  color: var(--custom-primary-color) !important;
  border-radius: var(--custom-style);
} 
.ui-state-default {
  border: 0px !important;
  background: none !important;
  border-radius: var(--custom-style);
}
.ui-datepicker-today a {
  color: #333333 !important;
  background-color: #dddddd !important;
  border-radius: var(--custom-style) !important;
}
.ui-datepicker td a {
  padding: 0.4em;
}
.ui-datepicker-calendar tr:nth-child(even) td,
.ui-datepicker-calendar tr:nth-child(odd) td {
  background-color: inherit !important;
}
/*-------end inside calendar--------*/

/*-------verificar dispo-------*/
.alojapro-widget-plugin #check-icon {
  font-size: 2rem;
  color: var(--custom-primary-color);
}
.alojapro-widget-plugin .check_dispo {
  text-transform: uppercase;
  font-size: 1rem;
}
/*-------end verificar dispo-------*/

.alojapro-widget-plugin .text-primary {
  color: var(--custom-primary-color) !important;
}
.alojapro-widget-plugin .text-secondary {
  color: var(--custom-secondary-color) !important;
}
.alojapro-widget-plugin input, 
.alojapro-widget-plugin button, 
.alojapro-widget-plugin .form-select {
  border-radius: var(--custom-style) !important;
}
.alojapro-widget-plugin .form-select {
  height: 2.8rem !important;
}
.alojapro-widget-plugin .fa {
  color: #555555;
}
.modal-backdrop {
  display: none !important;
}
.alojapro-widget-plugin .btn-discounts {
  text-transform: uppercase !important;
  color: #FFFFFF !important;
  background-color: var(--custom-secondary-color) !important;
}

.fa-calendar,
.fa-user,
.fa-percent {
  cursor: pointer;
}

.alojapro-widget-plugin .dnone {
  display: none !important;
}

/*========= Modern TPL CSS ==========*/
.alojapro-widget-plugin {
  background-color: #dddddd !important;
}
.alojapro-widget-plugin span.text-center {
  display: block;
  white-space: nowrap;
}
.alojapro-widget-plugin span.text-center strong {
  display: block;
  white-space: normal;
  line-height: 0.8;
}
.alojapro-widget-plugin .fa {
  line-height: 2;
}
.alojapro-widget-plugin .back-white {
  background-color: #FFFFFF !important;
  margin: 0.5rem;
  padding: 0.2rem 0.3rem;
}
.alojapro-widget-plugin .back-primary {
  background-color: var(--custom-primary-color) !important;
  margin: 0.5rem;
}
.alojapro-widget-plugin .input-container {
  background-color: #FFFFFF;
  border-radius: var(--custom-style);
}

.alojapro-widget-plugin .widget_calendar {
  border: 0px !important;
  border-radius: var(--custom-style) !important;
}

/*---icon inside button---*/
.alojapro-widget-plugin .btn-icon-primary {
  color: #FFFFFF !important;
  background-color: var(--custom-primary-color);
  border-radius: var(--custom-style) !important;
  padding: 0.2rem !important;
  width: 50px !important;
  text-align: center !important;
}
.alojapro-widget-plugin .btn-icon-white {
  color: var(--custom-primary-color) !important;
  background-color: #FFFFFF;
  border-radius: var(--custom-style) !important;
  padding: 0.2rem !important;
  width: 20% !important;
  text-align: center !important;
}
.alojapro-widget-plugin .btn-icon-primary i {
  color: #FFFFFF !important;
}
.alojapro-widget-plugin #advanced-filters {
  border: 0px !important;
  text-align: center !important;
}
.alojapro-widget-plugin .btn-discounts {
  color: #555555 !important;
  background-color: #FFFFFF !important;
  border: 0px !important;
  padding: 0.58rem;
}
.alojapro-widget-plugin .btn-discounts:active, 
.alojapro-widget-plugin .btn-discounts:hover, 
.alojapro-widget-plugin .btn-discounts:focus {
  border: 0px !important;
  outline: none !important;
  box-shadow: none !important;
}
.alojapro-widget-plugin input:focus, 
.alojapro-widget-plugin button:focus {
  outline: none !important;
  box-shadow: none !important;
}

/*modals visibility*/
.alojapro-widget-plugin .modal-fade .modal-dialog {
	transform: unset !important;
}   

.alojapro-widget-plugin .modal.fade.show {
  opacity: 1 !important;
}
.alojapro-widget-plugin .modal {
  background: rgba(0,0,0,.5);
  height: 2260px !important;
  width: -webkit-fill-available !important;
}
.alojapro-widget-plugin .modal-dialog {
  z-index: 1000;
  overflow: auto;
  overflow-y: auto;
  min-height: 0;
  border-radius: var(--custom-style) !important;
  background: transparent;
  top: 10% !important;
}
.alojapro-widget-plugin .modal-content {
  border-radius: var(--custom-style) !important;
  border: 0;
  background-color: #FFFFFF;
  width: 100%;
}
#alojaproDiscounts_modal .btn-close, 
#alojaproDiscounts_modal .btn-close:hover,
#alojaproAdvancedFilters_modal .btn-close, 
#alojaproAdvancedFilters_modal .btn-close:hover {
  border: none !important;
  background-color: unset !important;
  padding: 1rem !important;
} 

/* DESTINATIONS */
#alojaproDestinations_modal .modal-body,
#alojaproDestinations_modal .modal-fluid {
  padding: 10px 0px;
}
.destination {
  color: #FFFFFF;
  background-color: var(--custom-primary-color);
  border-radius: var(--custom-style);
  padding: 10px 20px;
  margin-bottom: 0.5rem !important;
  cursor: pointer;
}
.select-destination {
  margin-bottom: 0.5rem !important;
}
.arrow-span {
  background-color: #FFFFFF;
  margin: 0rem 1.2rem;
  border-radius: var(--custom-style);
}
.hotel {
  color: inherit;
  padding-left: 20px;
  cursor: pointer;
}
.fa-star {
  color: var(--custom-primary-color) !important;
}
.fa-arrow-right {
  margin-left: 1rem;
  margin-right: 1rem;
}

/*end*/
